body {
	background-color: #D7DED6;
	font-family: 'Josefin Slab', serif;
}
section {
	text-align: center;
	position: relative;
}

section > h1 {
	font-weight: bold;
}

ul {
	text-align: center;
	list-style: none;
	padding: 0;
}

li {
	font-size: 24px;
}

section > img {
	max-width: 50%;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(166,157,148,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(166,157,148,0.75);
	box-shadow: 10px 10px 5px 0px rgba(166,157,148,0.75);	
}
form {
	text-align: center;
}
form > p {
	line-height: 5px;
}
